.detail .game-providers .swiper-slide[data-v-4a73bd4c] {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center
}

.detail .game-providers .swiper-slide img[data-v-4a73bd4c] {
  max-height: 30px;
  width: 100%
}

footer h3,
footer p {
  color: #fff
}
.otp_page{
  padding: 0px; margin-top: 138px;z-index: 1001;
}
@media only screen and (max-width:3600px) and (min-width:961px) {

  .content.content-wrapper,
  .margin_top {
    margin-top: 138px !important
  }
  
}

@media only screen and (max-width:960px) and (min-width:769px) {

  .content.content-wrapper,
  .margin_top {
    margin-top: 160px !important
  }
}

@media only screen and (max-width:768px) and (min-width:541px) {

  .content.content-wrapper,
  .margin_top {
    margin-top: 170px !important
  }
}

@media only screen and (max-width:540px) and (min-width:481px) {

  .content.content-wrapper,
  .margin_top {
    margin-top: 180px !important
  }
}

@media only screen and (max-width:480px) and (min-width:426px) {

  .content.content-wrapper,
  .margin_top {
    margin-top: 160px !important
  }
}

@media only screen and (max-width:425px) and (min-width:321px) {
  .content.content-wrapper {
    margin-top: 150px !important
  }
}

@media only screen and (max-width:320px) and (min-width:0px) {

  .content.content-wrapper,
  .margin_top {
    margin-top: 150px !important
  }
}

.hideShow {
  display: none;
}

@media only screen and (min-width:481px) and (max-width:750px) {
  .cust-footer-slider .swiper-wrapper .swiper-slide {
    margin-right: 0 !important;
    width: 45% !important
  }
}
@media only screen and (min-width:600) and (max-width:740px) {
  .detail .game-providers .swiper-slide[data-v-4a73bd4c]{
    width: 50% !important;
  } 
}
.container {
  width: 100%
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold
}

.footer_ezugi {
  width: 100px;
}
@media (max-width:1200px) {
  footer .footerNav[data-v-b99befb8] {
    padding-bottom: 80px;
  }
}
@media (max-width:767px){
  .detail .payment-download-wrapper ul.flex[data-v-25e325a1]{
    margin-bottom: 0px;
  }
}
/* 
@media (max-width:1200px) {
  footer .footerNav[data-v-b99befb8] {
    padding-bottom: 120px;
  }
} */

.rate-card {
  text-align: center;
  font-size: 10px;
  color: #D7D7D7;
  width: 172px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

}

.rate-card .svg-layer {
  margin-top: -8px;
  font-size: 9.5px;
}

.rate-card .top-layer {
  background-color: #3A3A3A;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  padding: 6px;

}

.rate-card .down-layer {
  background-color: #fff;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  font-size: 8px;
  color: #3A3A3A;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.footerLink li ul.badge-livechat {
  margin-top: 15px;
}